## The ``merge`` function
Let's experiment with the ``merge`` function.

I will create two different dataframes, ``fruits_df`` and ``fruits_alt_df``:

In [5]:
import pandas as pd
fruit_data = [["apple", 5, "red"], ["banana", 6, "yellow"], ["blueberry", 9, "blue"], ["mango", 5, "orange"]]
fruits_df = pd.DataFrame(fruit_data, columns=["Name", "Name length", "Colour"])
fruits_df

        Name  Name length  Colour
0      apple            5     red
1     banana            6  yellow
2  blueberry            9    blue
3      mango            5  orange

In [6]:
fruits_alt_data = [["apple", "green"], ["banana", "brown"], ["blueberry", "purple"], ["mango", "green"]]
fruits_alt_df = pd.DataFrame(fruits_alt_data, columns = ["Name", "Alt Colour"])
fruits_alt_df

        Name Alt Colour
0      apple      green
1     banana      brown
2  blueberry     purple
3      mango      green

### Question

I want to add the Alt Colour column in ``fruits_alt_df`` to ``fruits_df``. How can I do this using the merge function?

Modify the following line of code from lecture:

``ttr_df = pd.merge(overall_ttr_df, standardized_ttr_df, on="Text")``

to merge ``fruits_alt_df`` with ``fruits_df``, then store the result in a variable called ``fruits_merged_df``.

(What do we need to put in the ``on`` parameter?)

In [ ]:

fruits_merged_df

### Question

Let's observe what happens if we add extra rows. Now ``fruits_alt_df`` has more rows than ``fruits_df``. After we merge them, what happened to the extra rows that were added?

In [7]:
fruits_alt_data = [["apple", "green"], ["banana", "brown"], ["blueberry", "purple"],
                   ["mango", "green"],["avocado", "brown"], ["grape", "green"]]
                   
fruits_alt_df = pd.DataFrame(fruits_alt_data, columns = ["Name", "Alt Colour"])
fruits_alt_df

        Name Alt Colour
0      apple      green
1     banana      brown
2  blueberry     purple
3      mango      green
4    avocado      brown
5      grape      green

In [8]:
fruits_merged_df = pd.merge(fruits_df, fruits_alt_df, on="Name")
fruits_merged_df

        Name  Name length  Colour Alt Colour
0      apple            5     red      green
1     banana            6  yellow      brown
2  blueberry            9    blue     purple
3      mango            5  orange      green

### Question
If we check the [pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html), we see that we can input extra parameters, such as the "how" argument. Try running the below cells, then try to understand how they work!

In [ ]:
fruits_merged_df = pd.merge(fruits_df, fruits_alt_df, on="Name", how="outer")
fruits_merged_df

In [ ]:
fruits_merged_df = pd.merge(fruits_df, fruits_alt_df, how="cross")
fruits_merged_df

## The ``.groupby()`` method
Now let's work with a real example.

In [ ]:
import pandas as pd

checkouts_df = pd.read_csv('seattle_checkouts.csv')
checkouts_df

Let's try to find the creators whose works were checked out the most in April 2020.

In [9]:
#Why does this not accurately portray the creators whose works were checked out the most?
checkouts_df['Creator'].value_counts()[:20]

Creator
James Patterson              370
Daisy Meadows                219
Agatha Christie              211
Gertrude  Chandler Warner    174
Geronimo Stilton             172
Mary Pope Osborne            170
Stephen King                 168
Louis L'Amour                167
Nora Roberts                 158
Erin Hunter                  152
Dan Gutman                   147
M. C. Beaton                 144
Stuart Woods                 144
Stan Berenstain              136
DK                           131
Robert B. Parker             120
Janet Evanovich              116
Clive Cussler                116
J. A. Jance                  112
Debbie Macomber              111
Name: count, dtype: int64

We can use the ``.groupby()`` and ``.sum()`` method.

### Question

First, I want to group by the Creator column.

What do I need to add to this to group by creator?

In [ ]:
checkouts_grouped_creator = checkouts_df.groupby()

We can't see the resulting groupby object, but we can check some of its info by applying methods, like `.size()`.

In [ ]:
checkouts_grouped_creator.size()

Now, to add together the checkouts corresponding to each creator, I can use the `.sum()` method!

In [ ]:
checkouts_grouped_summed_df = checkouts_df.groupby(['Creator']).sum()
checkouts_grouped_summed_df[:20]

**Question:** Now I select just the Checkouts column from the dataframe `checkouts_grouped_summed_df`. Add to the cell below:

In [ ]:
checkouts_grouped_summed_df['Checkouts']

Now I can find the ten authors with the most checkouts in total, using the `.nlargest()` method!

**Question:** What would I need to change to get the top *20* most checked out authors?

In [ ]:
top_10_creators = checkouts_grouped_summed_df[["Checkouts"]].nlargest(10, columns="Checkouts")
top_10_creators

... And plot the result!

In [ ]:
top_10_creators.plot(kind='bar', figsize=(10, 5), title='10 Most Checked-Out Creators')

# Grouping multiple columns

We can also try to compare statistics for different periods of time.

``seattle_checkouts_2020.csv`` contains all the checkout data over 2020.

**You can download more Seattle public library data at [this link](https://data.seattle.gov/Community/SPL-Checkouts-2018-2022/cz4y-bvp5). (You can filter by e.g. year, then click the export button to download the filtered data.)**

In [1]:
import pandas as pd
checkouts2020_df = pd.read_csv('seattle_checkouts_2020.csv')
checkouts2020_df

### Question

I want to find data on the prevalence of each material type being checked out in each month. First, group ``checkouts2020_df`` by checkout month, then by material type. Then, apply the `.size()` and `.unstack(fill_value=0)` methods as seen in lecture. Store the result in a variable called `material_types_per_month_df`.

In [ ]:
checkouts2020_df.groupby()

In [ ]:
#Now, isolate the most relevant columns
material_types_per_month_df[]

In [ ]:
#Make a chart!
material_types_per_month_df[].plot(kind='bar', \
                                   figsize=(10, 5), \
                                   xlabel = 'Checkout Month',  \
                                   title='Material Types Checked Out in 2020', \
                                   color=["gainsboro", "pink", "darkgoldenrod", "midnightblue", "mediumpurple"])

**Chart colours**

In the above chart, we specified a *list* of colours to use with the extra parameter `color=["gainsboro", "pink", "darkgoldenrod", "midnightblue", "mediumpurple"]`

List of named colors:
https://matplotlib.org/stable/gallery/color/named_colors.html

You can also use hex codes, e.g. `'#fa8702'`
https://htmlcolorcodes.com/