# Variables

Variables consist of two pieces of information: a **name** and a **value**.

In [2]:
number = 5

In the above code, we **assign** the value 5 to a variable whose **name** is `number`. This is called an **assignment statement**. Note that an assignment statement does not produce any output. 

<img src="variable.jpeg" width=350>

In an assignment statement, Python **evaluates** the expression to the right of the `=` before assigning it.

In [3]:
number2 = 10 + 10

To check the contents of a given variable, we can use the function `print` or just type the variable name.

In [4]:
print(number2)

20

In [5]:
number2

20

**Why do we use variables?** Variables are useful if you want to use or modify the same value over and over again. Variables also help make your code more **readable**.

## Word of Caution! Re-assigning Variables

Python does not give an error if you try to assign a new value to a variable with an existing name. Make sure you don't accidentally reuse or reassign existing variables!

In [6]:
gpa = 4.0

In [7]:
gpa = 3.7

In [8]:
print(gpa)

3.7

## Word of Caution! Spell Variable Names Correctly

Variable names are **case-sensitive.**

In [9]:
print(GPA)

NameError: name 'GPA' is not defined

The above is a very common error (one I personally run into a lot) that can result from a simple typo.

In [10]:
print(Number)

NameError: name 'Number' is not defined

## Naming Variables
Python variables are usually written in "`snake_case`" or "`pothole_case`", i.e. in **all lowercase with underscores separating words**. You should try to make sure your variable names are **descriptive**, so that you can easily keep track of them. `number` isn't generally a good variable name, but `average_words` might be.

## Example/Exercise: Area of a Rectangle

<img src="area.jpeg" width=600>

In [13]:
length = 2
width = 3
area = length * width

length = 4

print(area)

area = length * width

print(area)

#What happens if I add the following line of code to the end?

6
12

# Types
The main data types we will deal with include 
- integers `int` (whole numbers)
    - e.g. 0, 2, 365
- floats `float` (decimals)
    - e.g. 3.141, 2.718, 3.0
- strings `str` (pieces of text)
    - e.g. "I don't know", "Hello world"
- booleans `bool` (True or False values) 

(I like learning the etymologies of words so I can remember them better!)
- "Integer" has the same root as "entire" or "integrity", signifying wholeness.
- "Float" is short for "floating point number", which is how decimal numbers are implemented by computers. The "floating point" is the decimal point, which can be placed anywhere.
- A "string" is literally a string of characters.
- "Booleans" are named after George Boole, who was a pioneer in a field of math/comp sci known as logic.

# Functions

You can think of functions as transitive verbs that take an object (as an input) and act on it (to produce an output).

A function takes an **argument** as an input and produces an output. The syntax is `function(argument)`. 

<img src="function_machine.png" width="300">

Pro-tip: Python evaluates the arguments before applying the function.

In [14]:
type(80)

int

In [15]:
max(2, 3, 4, 5)

5

In [16]:
num1 = 10
num2 = 5
num3 = 2

max(num1 + num2, num2 + num3, num1 + num3)

15

In [17]:
str(80)

'80'

You can even define your own functions! (Don't worry, you don't need to know how to do this yourself. This is just an illustrative example.)

In [18]:
def double(input):
    """ Takes the input and multiplies it by 2; outputs the result. """
    return input * 2

In [19]:
double(5)

10

In [20]:
double("thing")

'thingthing'

In [21]:
def addtwo(input):
    """ Takes the input and adds 2 to it; outputs the result. """
    return input + 2

In [22]:
addtwo(5)

7

In [23]:
addtwo("thing")

TypeError: can only concatenate str (not "int") to str

# Operators

Like functions, operators take inputs and produce outputs. However, the syntax is a bit different. The inputs go on either side of the operator, such as `2 + 2`. 

We have seen mathematical operators, which take in numbers and output numbers, but the **comparison operators** are also important:
- `==`
- `!=`
- `>`
- `<`
- `>=`
- `<=`

It is important to **understand the difference between `=` and `==`**. `=` is used to assign a variable, but `==` is used to check if two things are the same. 

An assignment statement with `=` does not produce an output, but a comparison statement with `==` does. 

As with functions, Python evaluates both sides of the operator before applying the operator.

In [24]:
name = "Kevin"

In [25]:
name == "Kevin"

True

In [26]:
name == "Jevin"

False

In [27]:
#"Are these two things the same?"
80 == "80"

False

In [28]:
#"Are these two things different?"
80 != "80"

True

In [29]:
type(80)

int

In [30]:
type("80")

str

Experiment! Play around with the tools you have. Try combining things in unexpected ways. See what happens if you try to break the rules.

In [31]:
"star" == "star"

True

In [32]:
"star" >= 80

TypeError: '>=' not supported between instances of 'str' and 'int'

In [33]:
4.5 > 3

True

In [34]:
True >= "True"

TypeError: '>=' not supported between instances of 'bool' and 'str'

In [35]:
"star" >= "arts"

True

In [40]:
"s" > "art"

True